header {
	padding-top: 20px;
}
#current-word {
	letter-spacing: 10px;
}
#hangman {
	height: 400px;
	width: 400px;
}
p {
	font-family: 'Permanent Marker', 'Open Sans', sans-serif;
	font-size: 20px;
}
.game-section {
	padding-top: 20px;
	padding-bottom: 20px;
}
.m-a-0 {
	margin: 0 !important;
}
.main-container {
	animation: 8s fadeIn;
	animation-fill-mode: forwards;
	visibility: hidden;
	padding-bottom: 200px;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    visibility: visible;
    opacity: 1;
  }
}